<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>A.C.Camargo Cancer Center</title>
</head>

<body>

    <p style="color: red; margin-top: 10px" class="somenteWebPart">Importante</p>

    <div id="divMensagemImportante">

        <p class="semMargin mensagem">

            <label>

                Prezado cliente, informamos que devido ao expediente bancário de fim de ano,
                os pagamentos de transações de débito realizadas nos dias 29/12, 30/12, 31/12 e 01/01
                e as de crédito agendados para essas datas, serão pagas no dia <strong>02/01/17</strong>. <br />
                As operações de PREPAG - antecipação de recebíveis - que realizadas no dia 29/12 serão pagas também em <strong>02/01/17</strong>.
                <br /><br />
                Desejamos boas festas e excelentes negócios em 2017! <br /><br />

            </label>

        </p>

    </div>


    <p class="mensagem">

        Manual POS
        <label>(<a href="/Style Library/GP-Extranet/pdf/manualPOS.pdf" title="Manual Operacional do Terminal">download</a>)</label>

    </p>

    <p class="mensagem">

        Comunicado DIRF 2016
        <label>(competência 2015) (<a href="/Style Library/GP-Extranet/pdf/DIRF_2016.pdf" title="Comunicado DIRF 2016">download</a>)</label>

    </p>

    <div id="divCorrecaoAluguel">

        <p class="semMargin mensagem">

            Correção de Aluguel:
            <label>

                Prezados clientes, comunicamos que à partir de setembro de 2016, os aluguéis das maquininhas que foram instaladas há mais de  um ano, serão corrigidos com índice IPCA do período.

            </label>

        </p>

    </div>
</body>
</html>
